.stat .number{
    font-size: 4rem;
    font-weight: bold;
}

.stat .label{
    font-size: 1rem;
    color: #555;
    margin-bottom: 2rem;
}

.col-12.col-md-4, .col-12.col-lg-6{
    padding: 1rem;
    margin-bottom: 1rem;

}

.stat{
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid rgb(191, 191, 191) 1px;
    margin: 0 auto;
    text-align: center;
}

.card-text{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.count{
    font-size: larger;
    margin-right: 0;
}

.years{
    color: #818181;
    font-size: small;
}



.card-img-top{
    height: 30rem;
    object-fit: cover;

    
}

.numstat{
    margin-bottom: 2rem;
}

